---
title: Blog
---
<% content_for :hero do %>
  <div id="hero-overflow" class="hero-blog">
      <div class="hero-inner">
          <div class="hero-copy">
              <h1>Thoughts, stories and ideas.</h1>
          </div>
          <div class="mouse">
              <span></span>
          </div>
      </div>
  </div>
<% end %>

<div class="blog-intro">
  <h1>What's New</h1>
  <p>
     Workflow, career topics, and inspiration, these weekly articles explore the broader world of digital world.
  </p>
</div>

<div class="blog-entries">
  <% by_tag_formatted('blog').each do |item| %>
    <div class="blog-post">
      <h1><%= link_to item[:title],item[:relative_url]  %></h1>
    <%= item[:body] %>
      <%= image_tag item[:image_url], class: 'blog-image' unless item[:image_url].nil? %>
  </div>
  <% end %>
</div>
