---
title: Middleman is Loaded
---

<%= image_tag 'mm-logo.png' %>

 <article class="col-r">

    <h3>Whats New</h3>
    <hr />
    <p>Read my blog to learn from what I'm learning.</p>
  <%= link_to 'Read', 'blog.html', class: 'button' %>


  </article>
